/*
    Example fishbone styling... note that you can't actually change
    line markers here, which is annoying
*/

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
}

/* get it? gill? */
* {
    font-family: sans-serif;
}

.node {
    cursor: pointer;
}

.node text {
    background: #000 !important;
}

.label-0 {
    font-size: 2em;
}

.label-1 {
    font-size: 1.5em;
    fill: #111;
}

.label-2 {
    font-size: 1em;
    fill: #444;
}

.label-3 {
    font-size: .9em;
    fill: #888;
}

.label-4 {
    font-size: .8em;
    fill: #aaa;
}

.link-0 {
    stroke: #000;
    stroke-width: 2px
}

.link-1 {
    stroke: #333;
    stroke-width: 1px
}

.link-2,
.link-3,
.link-4 {
    stroke: #666;
    stroke-width: .5px;
}


.link {
    cursor: pointer;
}


#context-menu {
    position: fixed;

    z-index: 10000;
    width: 150px;

    background: #f5f5f5;
    border-radius: 5px;

    display: none;
}

#context-menu.visible {
    display: block;

}

#context-menu button {
    font-size: 20px;
}



.popup-box {
    position: absolute;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 50px;
    background: #0000003a;
    display: none;
    /* Initially hidden */

    
}
.popup-box button{
    border: 2px solid #0049B7;
    padding: 10px 20px;
    border-radius: 6px;
    margin-left: 10px;
    font-size: 18px;
    transition: all .5s ease;
}
.popup-box button:hover{
    color: #fff;
    background: #0049B7;
}

.text-box{
position: absolute;
top: 0;
right: 0;
padding: 15px;
}
.text-box p{
    font-size: 18px;
padding: 0;
margin: 0;
}
.text-box p span{
    color: red;
    font-weight: 700;
}