html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: sans-serif;
}

/* get it? gill? */
* {
    font-family: sans-serif;
}

.node {
    cursor: pointer;
}

.node text {
    background: #000 !important;
}

.label-0 {
    font-size: 2em;
}

.label-1 {
    font-size: 1.5em;
    fill: #111;
}

.label-2 {
    font-size: 1em;
    fill: #444;
}

.label-3 {
    font-size: .9em;
    fill: #888;
}

.label-4 {
    font-size: .8em;
    fill: #aaa;
}

.link-0 {
    stroke: #000;
    stroke-width: 2px
}

.link-1 {
    stroke: #333;
    stroke-width: 1px
}

.link-2,
.link-3,
.link-4 {
    stroke: #666;
    stroke-width: .5px;
}


.link {
    cursor: pointer;
}

.warning-overlayer{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: #000;
    color: #fff;
    font-size: 24px;
    z-index: 999;
    text-wrap: wrap;
    text-align: center;
    padding-top: 10%;
    display: none;
    pointer-events: none;
}



.toggle-tree{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    outline: none !important;
    background-color: transparent;
    border: 2px solid #007bff;
    margin-top: 3px;
}
.toggle-tree:hover{
    background: #007bff;
    color: #fff;
}

.guide-text{
    color: #000;
    width: 300px;
    font-size: 19px;
    position: absolute;
    right: 0;
}
.guide-text span{
    color: red;
}

/* for those dropdown */
.maintree-container {
    border: 1px solid #969696;
    width: 250px;
    height: 300px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    background: #ececec;
    display: grid;
    grid-template-columns: auto;
    overflow: hidden;
    display: none;
}



#checkbox-form {
    position: sticky;
    padding: 5px 5px 0 5px;
    display: flex;
    justify-content: space-between;
    background-color: #d3d3d3;
    margin-bottom: 10px;
    height: 45px;
}
#checkbox-form label{
    width: 100%;
    margin: 0 2px 5px 2px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    transition: all .1s ease;
}
#checkbox-form label:hover{
    background-color: #fff;
}
[name="checkbox"]{
    display: none;
    pointer-events: none;
}

.tree-box{
    overflow: auto !important;
    font-size: 18px;
}
.tree-node {
    cursor: pointer;
    list-style: decimal;
}

.tree-node ul {
    display: none;

}

.tree-node ul li {}


@media screen and (max-width: 1024px) {
    .warning-overlayer{
        display: block;
    }
}
